    body{
        height:100vh;
        background-image:linear-gradient(#eff0f9,#377dff);
    }
    
   
    .center {
        margin: 50px auto;
        width: 50%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position:relative;
        /* border:1px solid black; */
    }

    img{
        height: 100px;
        width:100px;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    #current-time{
        margin-left:-7px;
        font-size:1.5rem;
    }

    select{
        outline:0;
        border-radius:10%;
        height:28px;
        border:0px;
    }

    input {
        border:0px;
        width: 25px;
        height:25px;
        font-size:1rem;
        margin: 10px 0;
        outline: 0;
        border-radius:20%;
        text-align:center;
    }

    #set-alarm {
        width: 148px;
        background-color:#eff0f9;
        border:0px;
        height:20px;
    }
    .checkBox{
        display:none;
    }

    li {
        margin-bottom:15px;
        margin-left:-40px;
        list-style-type: none;
        /* border-bottom: 1px solid black; */
    }

    .delete {
       margin-left:100px;
    }